
body, html{
    margin: 0px;
    padding: 0px;
    height:100%;
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    font-weight:400;
    text-align: center;
    
}


h2{font-size: 50px; color: #000;}
h3{font-size: 40px;color: #040303;}
h4{font-size: 30px;color: #1C0A00;}

.img1, .img2, .img3, .img4, .img5, .img6, .sec{
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img2, .img3, .img4, .img5, .img6{
    display: flex;
    flex-direction: column;
    justify-content:end ;
    align-items:center;
}

.cont{
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
   1px -1px 0 #000,
  -1px -1px 0 #000;
}

.sec{
    padding: 5px 100px;
    background-image: url("https://i.pinimg.com/originals/57/dd/bb/57ddbb0e894d12a376ae8653edd2092a.png");
    
    color: white;
    
}

div p{
    font-size: 100px;
    letter-spacing: 15px;
    font-weight:900;
}

.img1{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/026/627/919/large/fahx-pv-4k-season-5-wallpaper.jpg?1589291105");
    min-height: 100%;
    font-size: 60px;
    font-weight: 900;
    padding-top: 10px;
    color: white;
}

.img2{
   
    background-image: url("https://wallpapercave.com/wp/wp5595135.jpg");
    min-height: 100%;
    color: #F5EDDC;
}

.img3{
    background-image: url("https://1.bp.blogspot.com/-KjQ85Fp53Bk/XRUs_iJwvcI/AAAAAAAAH10/AfRDGHAuHvAq1P02tNSujWCf9ltBjAX5QCKgBGAs/w0/apex-legends-octane-uhdpaper.com-4K-117.jpg");
    min-height: 100%;
    text-align:unset;
    color: #0E185F;
}

.img4{
    
    min-height: 100%;
    background-image: url("https://images2.alphacoders.com/115/1151279.jpg");
}

.img5{
    background-image: url("https://images4.alphacoders.com/115/1152507.jpg");
    min-height: 100%;
    color: #9B0000;
}

.img6{
    background-image: url("https://4kwallpapers.com/images/wallpapers/revenant-apex-legends-pc-games-playstation-4-nintendo-3840x2160-7771.jpg");
    min-height: 100%;
    color: #F5F0BB;
}


